{% extends 'base.html'%}

{% block content %}
<main class="main">
	<div class="main__content posts">
          <div class="wrapper">
            <ul class="posts__list">

              <li>
                <a href="/understanding-the-this-keyword-in-javascript">
                  <h2 class="posts__title">标题标题标题标题标题标题标题标题标题标题</h2>
                  <span class="posts__date">2014-05-09</span>
                </a>
              </li>

              <li>
                <a href="/understanding-the-this-keyword-in-javascript">
                  <h2 class="posts__title">标题标题标题标题标题标题标题标题标题标题</h2>
                  <span class="posts__date">2014-05-09</span>
                </a>
              </li>

              <li>
                <a href="/understanding-the-this-keyword-in-javascript">
                  <h2 class="posts__title">标题标题标题标题标题标题标题标题标题标题</h2>
                  <span class="posts__date">2014-05-09</span>
                </a>
              </li>

              <li>
                <a href="/understanding-the-this-keyword-in-javascript">
                  <h2 class="posts__title">标题标题标题标题标题标题标题标题标题标题</h2>
                  <span class="posts__date">2014-05-09</span>
                </a>
              </li>

              <li>
                <a href="/understanding-the-this-keyword-in-javascript">
                  <h2 class="posts__title">标题标题标题标题标题标题标题标题标题标题</h2>
                  <span class="posts__date">2014-05-09</span>
                </a>
              </li>

              <li>
                <a href="/understanding-the-this-keyword-in-javascript">
                  <h2 class="posts__title">标题标题标题标题标题标题标题标题标题标题</h2>
                  <span class="posts__date">2014-05-09</span>
                </a>
              </li>

              <li>
                <a href="/understanding-the-this-keyword-in-javascript">
                  <h2 class="posts__title">标题标题标题标题标题标题标题标题标题标题</h2>
                  <span class="posts__date">2014-05-09</span>
                </a>
              </li>

              <li>
                <a href="/understanding-the-this-keyword-in-javascript">
                  <h2 class="posts__title">标题标题标题标题标题标题标题标题标题标题</h2>
                  <span class="posts__date">2014-05-09</span>
                </a>
              </li>

              <li>
                <a href="/understanding-the-this-keyword-in-javascript">
                  <h2 class="posts__title">标题标题标题标题标题标题标题标题标题标题</h2>
                  <span class="posts__date">2014-05-09</span>
                </a>
              </li>

              <li>
                <a href="/understanding-the-this-keyword-in-javascript">
                  <h2 class="posts__title">标题标题标题标题标题标题标题标题标题标题</h2>
                  <span class="posts__date">2014-05-09</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="pagination">
            <div class="wrapper">

                  <span class="pagination--previous">
                    <i class="fa fa-angle-double-left"></i>
                    Previous
                  </span>


                  <a href="/page2" class="pagination--next">
                    Next
                    <i class="fa fa-angle-double-right"></i>
                  </a>

            </div>
          </div>
        </div>
</main>
{% endblock content%}
