		<header class="header">
      <div class="wrapper">
        <div id="carbonads-container">
          <div class="carbonad">
            <div id="azcarbon"></div>
          </div>
        </div>
        <div class="header__profile">
          <a href="/">
            <img src="{{ STATIC_URL }}img/huhu.png">
          </a>
        </div>
        <nav class="nav" data-state="closed">
          <a href="#" class="nav__icon">
            <i class="fa fa-bars"></i>
          </a>
          <ul>
            <li><a href="/blog/">Blog</a></li>
          </ul>
        </nav>
      </div>
    </header>